$bgColor: #fff;
$blueColor: #005F6B;
$green: #74E896;

path{
	-webkit-transition: all 0.5s ease;
	&:hover{
		fill: #74E896;
	}
}

body{
	background: $bgColor;
}

button{
	width: 100%;
	// height: 100%;
}
#title{
	text-align: center;
	margin-top: 3%;
	h1{
		font-size: 3rem;
		color: $green;
		font-family: "Josefin Sans", sans-serif;
		text-transform: uppercase;
		letter-spacing: 3rem;	
		span{
			color: #CCC;
		}

	}
}

button{
	background-color: white;
	color: $green;
	font-family: "Montserrat", sans-serif;
	border: 2px solid $green;
	-webkit-border-radius: 30px;
	
	&:hover{
		background-color: white;
	}
	&:focus{
		outline: 0;
		background-color: $green;
		color: white;

	}

}

ul{
	li{
		a{
			font-family: "Montserrat", sans-serif;
		}
	}
}

.f-dropdown{
	&:before{
		left: 99px;
	}
	&:after{
		left: 98px;
	}
}