$bgColor: #222;
$blueColor: #005F6B;
$textColor: #F2F2F2;

path{
	-webkit-transition: all 0.5s ease;
	&:hover{
		fill: #F57576;
	}
}

body{
	background: $bgColor;
}

button{
	width: 100%;
	// height: 100%;
}
#title{
	text-align: center;
	margin-top: 5%;
	h1{
		color: #FDF172;
		font-family: "Josefin Sans", sans-serif;
		text-transform: uppercase;
		letter-spacing: 1rem;	

	}
}

button{
	background-color: $blueColor;
	&:focus{
		outline: 0;
	}
}