%html{:class =>"no-js", :lang =>"en"}
	%head	
		%meta{:charset =>"utf-8"}
		%meta{:name =>"viewport", :content =>"width=device-width, initial-scale=1.0"}
		%meta{:property => "og:image", :content => "http://www.afdavies.com/ElectriCity/img/lightbulbthumbnail.png"}
		%meta{:property => "og:type", :content => "website"}
		%meta{:property => "og:url", :content => "http://afdavies.com/ElectriCity/"}
		%meta{:property => "og:title", :content => "ElectriCity"}
		%title ElectriCity
		%link{:rel =>"stylesheet", :href =>"stylesheets/app.css"}
		%link{:rel =>"stylesheet", :href =>"stylesheets/style.css"}
		%link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:300|Source+Sans+Pro:400,700", :rel => 'stylesheet', :type => "text/css"}
		%link{:rel => "shortcut icon", :href => "../Locality/img/favicon.ico", :type => "image/x-icon"}
		%link{:rel => "icon", :href => "../ElectriCity/img/favicon.ico", :type =>"image/x-icon"}
		%script{:src =>"bower_components/modernizr/modernizr.js"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
		%script{:src => "http://d3js.org/d3.v3.min.js"}
		%script{:src => "http://d3js.org/topojson.v1.min.js"}
		%script{:src => "js/geojson.js"}	
		%script{:src => "js/localVis.js"}	
		%body
			.loader
				%img{:src => "../ElectriCity/img/Lightbulbcity_black.svg"}
				%h1 LOADING
			#wrapper
				.row
					.small-12.columns.end
						#logoContainer.small-1.columns
							%img#logo{:src => "../ElectriCity/img/Lightbulbcity.svg"}
						#title.small-11.columns
							%h1 Electri<span id="city">City</span>&nbsp<span id="desc">A visualization of 1,896 commerical buildings and their annual San Francisco energy audit results from 2010-2013. 
				.row
					#filters.small-12.small-centered.columns
						.row
							.small-10.columns
								.small-4.columns
									%button#year{:href => "#", :data => {:dropdown => "drop1"}, :aria => { :expanded => "false"}}Year
									%ul#drop1.f-dropdown{:data => {:dropdown_content => true}, :aria_hidden => "true"}
										%li
											%a.2010{:href => "#"} 2010
										%li
											%a.2011{:href => "#"} 2011
										%li
											%a.2012{:href => "#"} 2012
										%li
											%a.2013{:href => "#"} 2013
								.small-4.columns
									%button#neighborhood{:href => "#", :data => {:dropdown => "drop2"}, :aria => { :expanded => "false"}}Neighborhood
									%ul#drop2.f-dropdown{:data => {:dropdown_content => true}, :aria_hidden => "true"}
										%li 
											%a.AllNeighborhoods{:href => "#"} All Neighborhoods
										%li
											%a.Fidi{:href => "#"} Financial District
										%li
											%a.Dwntwn{:href => "#"} Downtown/Civic Center
										%li
											%a.SOMA{:href => "#"} SOMA
										%li
											%a.WesternSoma{:href => "#"} Western SOMA
										%li
											%a.Mission{:href => "#"} Mission
										%li
											%a.OuterMission{:href => "#"} Outer Mission
										%li
											%a.PotreroHill{:href => "#"} Potrero Hill
										%li
											%a.Bayview{:href => "#"} Bayview
										%li
											%a.Marina{:href => "#"} Marina
										%li
											%a.NorthBeach{:href => "#"} North Beach
										%li
											%a.NobHill{:href => "#"} Nob Hill
										%li
											%a.Chinatown{:href => "#"} Chinatown
										%li
											%a.WesternAddition{:href => "#"} Western Addition
										%li
											%a.InnerRichmond{:href => "#"} Inner Richmond
										%li
											%a.OuterRichmond{:href => "#"} Outer Richmond
										%li
											%a.Seacliff{:href => "#"} Seacliff
										%li
											%a.PresidioHeights{:href => "#"} Presidio Heights
										%li
											%a.HaightAshbury{:href => "#"} Haight Ashbury
										%li
											%a.InnerSunset{:href => "#"} Inner Sunset
										%li
											%a.OuterSunset{:href => "#"} Outer Sunset
										%li
											%a.BernalHeights{:href => "#"} Bernal Heights
										%li
											%a.OceanView{:href => "#"} Ocean View
										%li
											%a.CrockerAmazon{:href => "#"} Crocker Amazon
										%li
											%a.DiamondHeights{:href => "#"} Diamond Heights
										%li
											%a.Parkside{:href => "#"} Parkside
								.small-4.columns#alert
									%button#status.noselect{:href => "#", :data => {:dropdown => "drop3"}, :aria => { :expanded => "false"}}Status
									%ul#drop3.f-dropdown{:data => {:dropdown_content => true}, :aria_hidden => "true"}
										%li
											%a#AllResults.AllResults{:href => "#"} All Results
										%li
											%a#Complied.Complied{:href => "#"} Passed
										%li
											%a#DidNotComply.DidNotComply{:href => "#"} Failed
										%li
											%a#NA.NA{:href => "#"} N/A
							.small-2.columns
								%button.reset Reset
						.row
							.small-7.columns.end
								.small-2.columns.key
									%p Passed
									#blue.dot
								.small-2.columns.key
									%p Failed
									#red.dot
								.small-2.columns.key
									%p N/A
									#gray.dot
								.small-2.columns.end.key
									%p Exempt
									#exempt.dot
					#vis.small-12.columns.end
				.row
			.row 
				#footer.small-12.columns
					%p &#169; 2014 Andy Davies. Coded for USF's Information Visualization course on Nov. 9,2014. Energy audit dataset courtesy of <a href="https://data.sfgov.org/">DataSF</a> 
			-# #tipModal.reveal-modal.small
			-# 	%p Please select a year before filtering by audit status.

		%script{:src => "bower_components/jquery/dist/jquery.min.js"}
		%script{:src => "bower_components/foundation/js/foundation.min.js"}
		%script{:src => "js/app.js"}
		%script
			$(document).foundation('joyride', 'start');